#form {
    display:none;
}

fieldset {
    display:flex;
    flex-direction: column;
}
fieldset #read, fieldset #notread {
    align-self:flex-start;
}
#library {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-items: center;
}


#card {
    width:150px;
    height:280px;
    border: solid 3px;
    display:grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
    justify-items: stretch;
    align-items: center;

}
/* card content */
#card_title {
    font-weight: bolder;
    color:steelblue;
}
#card_author {
    font-weight:bold;
    color:rgb(43, 94, 94);
}
#card_pages {
    color:aqua;
}

#card_read {
    color:green;
}
#card_not_read {
    color:black;
}

.remove_button {
    background: red;
}
.change_status_button {
    background: yellow;
}
